node_modules/
mta_archives/
gen/
*.mtar
default-*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/mcp.json
!.vscode/tasks.json

# Logs
*.log
npm-debug.log*
Makefile_*.mta
app/router/resources/
app/router/node_modules/
app/router/package-lock.json

tmp-gif-recording/
